*.exe
*.slnx
*.vcxpoj
*.vcxproj.filters
*.vcxproj.user
*.obj
.cache/
.continue/
.github/
.vs/
Debug/
x64/
build/
Makefile
Applications/audio/
buildLinux/
*.yaml
CMakeFiles/
CMakeCache.txt
VulcanApp
cmake_install.cmake
VulcanApp
.clangd
recording/
recording.txt
.clang-format